body {
  margin: 0;
  background-color: black;
  display: flex;
  justify-content: center;  
  align-items: center;      
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

a {
  text-decoration: none; 
}

.text {
  animation: fadeIn 8s forwards;
  color: white;
  min-height:100vh;
  font-family: monospace;
  font-size: 40px;
  display: flex;
  justify-content: center;  
  align-items: center;      
}